/* fonts */
/* Media Queries */
/* Colors */
/* Media Queries */
/* @mixin phone {
  @media (min-width: 480px) {
    @content
  }
} */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #8C8C8C;
}

@media (min-width: 768px) {
  body {
    background-color: #323232;
  }
}

@media (min-width: 1200px) {
  body {
    background-color: #E87C03;
  }
}
