/* fonts */
$main-fount: Arial, Helvetica, sans-serif;

/* Media Queries */
$phone: 480px;
$tablet: 768px;
$desktop: 1200px;

/* Colors */
$primary: #E50914;
$secondary: #E87C03;
$dark-gray: #323232;
$mid-dark-gray: #454545;
$gray: #8C8C8C;
$white: #FFFFFF;
$black: #000000;
